#board {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
}

.hidden-column {
  width: 12.5%;
  height: 16.67%;
}

/*height: 16.67%*/
/*width: 14.29%;*/
